/* GENERAL */
.primary-overlay {
    background: rgba(112, 81, 176, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* HEADER */
.main-header {
    background: url(../img/background.jpg) center;
    background-size: cover;
    min-height: 600px;
    color: #FFFFFF;
}

.main-header .showcase {
    padding-top: 110px;
}

.active-link {
    color: #D847F1;
    font-weight: bold;
}

/* DEVELOPERS */
.section-developers {
    position: relative;
    background: url(../img/code.jpg) center;
    background-size: cover;
    border-top: #333 solid 5px;
    border-bottom: #333 solid 5px;
    min-height: 160px;
}

/* Podcast */
.section-podcast {
    position: relative;
    background: url(../img/circuit.jpg) center;
    background-size: cover;
    border-top: #333 solid 5px;
    border-bottom: #333 solid 5px;
    min-height: 160px;
}

.section-podcast a {
    margin-top: 30px;
}

.section-podcast .primary-overlay {
    background: rgba(112, 81, 176, 0.9);
}

/* Testimonial */
.carousel-item p {
    font-size: 20px !important;
}


/* Media Queries */

@media(max-width: 500px) {
    .section-developers,
    .section-podcast {
        min-height: 240px;
    }
}


